<app-navbar></app-navbar>

<section>
    <div class="container grey profile-container" >
     
        <div> 
            <!-- <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
              </mat-form-field> -->
              <mat-label>
                <h4>{{currentUser.displayName}} - Tasks you signed up for </h4></mat-label>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <!-- Position Column -->
                <ng-container matColumnDef="Task">
                  <th mat-header-cell *matHeaderCellDef> Task </th>
                  <td mat-cell *matCellDef="let post"> {{post.text}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Time">
                  <th mat-header-cell *matHeaderCellDef> Time</th>
                  <td mat-cell *matCellDef="let post"> {{post.time}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Location">
                  <th mat-header-cell *matHeaderCellDef> Location </th>
                  <td mat-cell *matCellDef="let post"> {{post.location}} </td>
                </ng-container>

                <ng-container matColumnDef="Contact">
                  <th mat-header-cell *matHeaderCellDef> Contact </th>
                  <td mat-cell *matCellDef="let post"> {{post.contact}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="Cancel">
                  <th mat-header-cell *matHeaderCellDef> Cancel </th>
                  <td mat-cell *matCellDef="let post" > <button mat-button id = {{post.id}} (click)="cancelClicked($event.target.id)">Cancel</button> </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        <div> 
            <!-- <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
              </mat-form-field> -->
              <mat-label><h4>{{currentUser.displayName}}'s: Tasks you need done</h4></mat-label>
              <table mat-table [dataSource]="publishedPosts" class="mat-elevation-z8">
              
                <!-- Position Column -->
                <ng-container matColumnDef="Task">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let post"> {{post.text}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Time">
                  <th mat-header-cell *matHeaderCellDef> Time</th>
                  <td mat-cell *matCellDef="let post"> {{post.time | date: 'dd/MM/yyyy'}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Location">
                  <th mat-header-cell *matHeaderCellDef> Location </th>
                  <td mat-cell *matCellDef="let post"> {{post.location}} </td>
                </ng-container>

                <ng-container matColumnDef="Contact">
                  <th mat-header-cell *matHeaderCellDef> Contact </th>
                  <td mat-cell *matCellDef="let post"> {{post.contact}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="Cancel">
                  <th mat-header-cell *matHeaderCellDef> Cancel </th>
                  <td mat-cell *matCellDef="let post" > <button mat-button id = {{post.id}} (click)="deleteClicked($event.target.id)">Delete</button> </td>
                </ng-container>

              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        <div> 
      <!-- <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field> -->
        <mat-label><h4>{{currentUser.displayName}}'s: Resources you are offering</h4></mat-label>
        <table mat-table [dataSource]="userResources" class="mat-elevation-z8">
        
          <!-- Position Column -->
          <ng-container matColumnDef="Task">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let resource"> {{resource.text}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Time">
            <th mat-header-cell *matHeaderCellDef> Date Available</th>
            <td mat-cell *matCellDef="let resource"> {{resource.date | date: "MM/dd/yyy"}}</td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let resource"> {{resource.location}} </td>
          </ng-container>

          <ng-container matColumnDef="Contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let resource"> {{resource.contact}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="Cancel">
            <th mat-header-cell *matHeaderCellDef> Cancel </th>
            <td mat-cell *matCellDef="let resource" > <button mat-button id = {{resource.id}} (click)="deleteClicked($event.target.id)">Delete</button> </td>
          </ng-container>

        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </div>
  

</div>

</section>
