<div class="help-from-container"> 
    <form class="help-form grey" [formGroup]="inputForm" (ngSubmit)="onSubmit()">
        <div>
          <div>
            <h3>What resources are you offering?</h3>
          </div>
          
          <textarea formControlName='text' name="text"  placeholder="Describe what you have to offer"required></textarea>
          <div *ngIf="!inputForm.controls.text.untouched && inputForm.controls.text.invalid && inputForm.controls.text.errors.required" style="color:red">
            <p>Description must be 10 characters long </p>
          </div>
        </div>
        <div>
          <h3>When is this available?</h3>
      
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input  matInput [min]="minDate" [matDatepicker]="date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date
            ></mat-datepicker>
          </mat-form-field>
          <div *ngIf="!inputForm.controls.date.untouched && inputForm.controls.date.invalid && inputForm.controls.date.errors.required" style="color:red">
            <p>Please select a date </p>
          </div>
        </div>
        <div>
          <h3>Where can people access this?</h3>
      
          <textarea formControlName='location' placeholder="Enter your address"></textarea>
          <div *ngIf=" !inputForm.controls.location.untouched && inputForm.controls.location.invalid && inputForm.controls.location.errors.required" style="color:red">
            <p>Please tell us where you're located </p>
          </div>
        </div>
        <div>
        <h3>How much of this do you have?</h3>
      
        <textarea formControlName='quantity' placeholder="Enter your address"></textarea>
        <div *ngIf="!inputForm.controls.quantity.untouched && inputForm.controls.quantity.invalid && inputForm.controls.quantity.errors.required" style="color:red">
          <p>Please tell us where you're located </p>
        </div>
      </div>
        
        <div>
          <h3>How do people contact you about this?</h3>
          
          <textarea formControlName='contact' placeholder="Enter your phone number or email if you prefer"></textarea>
      
          <div *ngIf=" !inputForm.controls.quantity.untouched  && inputForm.controls.contact.invalid && inputForm.controls.contact.errors.required" style="color:red">
            <p>Please give us a contact phone number </p>
          </div>
          <button type="submit" [disabled]="!inputForm.valid || inputForm.untouched">Submit</button>
        </div>
      
      </form>
      
</div>
