<div class="grey container">
  <div class="banner grey">

  </div>
  <div class="content">
  <h3>Helping The vulnerable population of Bushwick during the COVID-19 pandemic</h3>
  <br>
  <p>We are a grassroots volunteer network based in Bushwick with the mission of helping those who are most vulnerable
    during this pandemic.
    If you or someone you know needs assistance during these trying times sign up below and post to the feed.</p>
  <br>
  <p>If you would like to volunteer time or resources or know someone who needs help click the sigin in with google
    button.</p>
    <h3>currently {{this.postCount}} tasks waiting to be done</h3>
    <h3>currently {{this.userCount}} volunteers signed up </h3>
    <h3></h3>
    <div class="login-buttons">
  <button (click)="signUpGoogle()">Sign up with google</button>
  <button (click)="signUpFacebook()">continue with facebook</button>
</div>
</div>
</div>
